<%# home page and upload page %>

<h1>Photophore</h1>

<div class="form">
<%= form_for @photo, :html => { :multipart => true } do |f| %>
  <%= f.text_field :account_hash %>
  <%#<%= f.file_field :image %>
  <%= f.text_field :image %>
  <%= f.submit 'Upload image' %>
<% end %>
</div>