<h1>Photophore</h1>

<div class="form">
<%= form_for @account, :html => { :multipart => true } do |f| %>
  <%= f.hidden_field :id %>
    <%= fields_for :photos, @account.photos do |p| %>
    <%= p.file_field :image %>
  <% end %>
  <%= f.submit 'Upload image' %>
<% end %>
</div>